{# called with dict (tables within database of dict(fields and tags)
fields is also a dict with the name of the field as key and the type as value,
tag is a list
#}

{# % block title %}Measurement{% endblock % #}


{%block content %}

    <h2>Measurement (table): {{ table_name }} </h2>

    <h3>Fields</h3>
    <div class="padleft">
        <table>
            {% for row in fields %}
            <tr>
            {% for col in row %}
                <td>{{col[0]}} <span class="v"> {{col[1]}}</span></td>
            {% endfor %}
            </tr>
            {% endfor %}

    </table>
    </div>

    <h3>Tags</h3>
    <div class="padleft">
        <dl>
            {% for tag in tags %}
            {% for t, values in tag.items() %}
            <dt>{{ t }}</dt>
            {% for v in values %}
            <dd>{{v}}</dd>
            {% endfor %}
            {% endfor %}
            {%endfor %}
        </dl>
    </div>

{%endblock content %}
