

body {margin-left: 2em;}

table {background-color: #F0F8EB;}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {padding: 5px;}

tr:nth-child(even) {background-color: #E5F7D2;}

/*dt {font-weight:bolder}*/

div.padleft {margin-left: 4em;}

.v {color:#888}

h1 {text-align: center}
h2 {margin-bottom:1em; border-top: 2px dotted green; padding-top:.5em}

p.footer {text-align:center; margin:3em 25% 0 25%; border-top: 2px solid red; padding-top: 1em;}
p.tags {margin:0; padding:0}
